<% layout('layouts/boilerplate') %>

    <div class="container">
        <h1 class="text-center mb-3">About Me</h1>
        <div class="row">
            <div class="card shadow-lg bg-main p-0 col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <div class="card-body p-2 m-2 ">
                    <img class="p-1 m-3 abouts-img rounded-circle"
                        src="https://res.cloudinary.com/dkhmagpta/image/upload/v1612370536/7_obpi84.jpg">
                    <p class="p-3 m-0" style="white-space:pre-line; line-height: 1.6rem;">
My name is Vova Hass and I’m the face behind <b>HassWrites</b>. As you surely have guessed by now – I’m an (amateur) writer & poet.

If you’re here, I assume you’d like to know a bit more about the person behind everything you’ve read (or may read) on this website, so this is what I’m going to be focusing on, on this page.

I’m 26 years old, an Aquarius – to anyone who might find this piece of information enlightening. I currently live in Israel. I speak (read and write) English, Russian, Hebrew and a tiny bit Deutsch, but I primarily write in English.

I’ve been writing since I was 15 years old, and the first piece (poem) that I’ve ever written is <a class="link-dark p-0" href="#">“The Fall From Hell”</a>. Yes, I know – it’s very dark and edgy, but, that was my style back then. You can blame it all on the hair (picture for reference). <img class="p-1 m-3 abouts-img2" src="https://res.cloudinary.com/dkhmagpta/image/upload/v1612459713/5200_1100775964305_4312931_n_uajq5i.jpg"> 

When I started off - I mostly wrote poetry (which you can check out on my <a class="link-dark p-0" href="#">“Old Poetry”</a> page). Since then, I’ve been trying my hand with haikus, short stories, writing prompts, free verses, inspirational one\two-liners and novels (sort of). What I mostly write nowadays is free verse poetry, but I occasionally tend to shift my focus, depending on my mood (Aquariuses… am I right? Or is it Aquarisi? Aquari?).

I think that's the gist of it, for the most part. If you have any questions – feel free to contact me (I’ll be leaving my email at the bottom of the page)!

From this point on, I’ll be uploading and updating all my work on this website. So if you enjoy what I'm doing and would like to stick around and get updates on everything I’m doing (it’s not creepy or anything) – feel free to sign up to the mailing list (down below), where I’ll be sending weekly notices on everything you might have missed.

You can also follow my <b>poetry</b> – over on <a class="link-dark p-0" href="#">Instagram</a> and <a class="link-dark p-0" href="#">Facebook</a>.

And you can follow my <b>short stories</b> and <b>writing prompts</b> – over at <a class="link-dark p-0 b" href="#">Reddit</a>.

Furthermore, if you really like my writing and want to take an active part in the community – you can <b>sign up</b> <a class="link-dark p-0" href="#">here</a>. 
After signing-up you will be able to leave likes, comments and voting on whatever you want me to write next. 
Feedback is always welcome!



I hope to hear from you all again,

Vova Hass.
                        </p>
                </div>
                <div class="card-footer p-0">
                    <p class="py-2 px-4 mb-0"> You can contact me over at <a class="btn btn-link p-0"
                            href="mailto: hasswrites@gmail.com">hasswrites@gmail.com</a>.</p>
                </div>
            </div>
        </div>
        <br>

    </div>